@model AjaxContatos.Service.ViewModels.ContatoViewModel

@{
    ViewBag.Title = "BelaView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BelaView</h2>

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do produto</h4>
            </div>
            <div class="modal-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
                    <dd>@Html.DisplayFor(model => model.Nome)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                    @*<dt>@Html.DisplayNameFor()</dt>*@
                    @*<dd>@Html.DisplayFor(model => model.Idade)</dd>*@
                    @*<dt>@Html.DisplayNameFor(model => model.Pais)</dt>*@
                    @*<dd>@Html.DisplayFor(model => model.Pais)</dd>*@
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>